<form action="/signin" method="post">
  <input type="text" name="mail" placeholder="Eメール"><br>
  <input type="password" name="password" placeholder="パスワード"><br>
  <input type="submit" value="ログイン"><br>
</form>